.highlight {
  background: #333333;
  color: #ffffff;
}

.highlight .hll {
  background-color: #ffffcc;
}

.highlight .c {
  color: #87ceeb;
}
/* Comment */

.highlight .err {
  color: #ffffff;
}
/* Error */

.highlight .g {
  color: #ffffff;
}
/* Generic */

.highlight .k {
  color: #f0e68c;
}
/* Keyword */

.highlight .l {
  color: #ffffff;
}
/* Literal */

.highlight .n {
  color: #ffffff;
}
/* Name */

.highlight .o {
  color: #ffffff;
}
/* Operator */

.highlight .x {
  color: #ffffff;
}
/* Other */

.highlight .p {
  color: #ffffff;
}
/* Punctuation */

.highlight .cm {
  color: #87ceeb;
}
/* Comment.Multiline */

.highlight .cp {
  color: #cd5c5c;
}
/* Comment.Preproc */

.highlight .c1 {
  color: #87ceeb;
}
/* Comment.Single */

.highlight .cs {
  color: #87ceeb;
}
/* Comment.Special */

.highlight .gd {
  color: #0000c0;
  font-weight: bold;
  background-color: #008080;
}
/* Generic.Deleted */

.highlight .ge {
  color: #c000c0;
  text-decoration: underline;
}
/* Generic.Emph */

.highlight .gr {
  color: #c0c0c0;
  font-weight: bold;
  background-color: #c00000;
}
/* Generic.Error */

.highlight .gh {
  color: #cd5c5c;
}
/* Generic.Heading */

.highlight .gi {
  color: #ffffff;
  background-color: #0000c0;
}
/* Generic.Inserted */

.highlight .go {
  color: #add8e6;
  font-weight: bold;
  background-color: #4d4d4d;
}
/* Generic.Output */

.highlight .gp {
  color: #ffffff;
}
/* Generic.Prompt */

.highlight .gs {
  color: #ffffff;
}
/* Generic.Strong */

.highlight .gu {
  color: #cd5c5c;
}
/* Generic.Subheading */

.highlight .gt {
  color: #c0c0c0;
  font-weight: bold;
  background-color: #c00000;
}
/* Generic.Traceback */

.highlight .kc {
  color: #f0e68c;
}
/* Keyword.Constant */

.highlight .kd {
  color: #f0e68c;
}
/* Keyword.Declaration */

.highlight .kn {
  color: #f0e68c;
}
/* Keyword.Namespace */

.highlight .kp {
  color: #f0e68c;
}
/* Keyword.Pseudo */

.highlight .kr {
  color: #f0e68c;
}
/* Keyword.Reserved */

.highlight .kt {
  color: #bdb76b;
}
/* Keyword.Type */

.highlight .ld {
  color: #ffffff;
}
/* Literal.Date */

.highlight .m {
  color: #ffffff;
}
/* Literal.Number */

.highlight .s {
  color: #ffffff;
}
/* Literal.String */

.highlight .na {
  color: #ffffff;
}
/* Name.Attribute */

.highlight .nb {
  color: #ffffff;
}
/* Name.Builtin */

.highlight .nc {
  color: #ffffff;
}
/* Name.Class */

.highlight .no {
  color: #ffa0a0;
}
/* Name.Constant */

.highlight .nd {
  color: #ffffff;
}
/* Name.Decorator */

.highlight .ni {
  color: #ffdead;
}
/* Name.Entity */

.highlight .ne {
  color: #ffffff;
}
/* Name.Exception */

.highlight .nf {
  color: #ffffff;
}
/* Name.Function */

.highlight .nl {
  color: #ffffff;
}
/* Name.Label */

.highlight .nn {
  color: #ffffff;
}
/* Name.Namespace */

.highlight .nx {
  color: #ffffff;
}
/* Name.Other */

.highlight .py {
  color: #ffffff;
}
/* Name.Property */

.highlight .nt {
  color: #f0e68c;
}
/* Name.Tag */

.highlight .nv {
  color: #98fb98;
}
/* Name.Variable */

.highlight .ow {
  color: #ffffff;
}
/* Operator.Word */

.highlight .w {
  color: #ffffff;
}
/* Text.Whitespace */

.highlight .mf {
  color: #ffffff;
}
/* Literal.Number.Float */

.highlight .mh {
  color: #ffffff;
}
/* Literal.Number.Hex */

.highlight .mi {
  color: #ffffff;
}
/* Literal.Number.Integer */

.highlight .mo {
  color: #ffffff;
}
/* Literal.Number.Oct */

.highlight .sb {
  color: #ffffff;
}
/* Literal.String.Backtick */

.highlight .sc {
  color: #ffffff;
}
/* Literal.String.Char */

.highlight .sd {
  color: #ffffff;
}
/* Literal.String.Doc */

.highlight .s2 {
  color: #ffffff;
}
/* Literal.String.Double */

.highlight .se {
  color: #ffffff;
}
/* Literal.String.Escape */

.highlight .sh {
  color: #ffffff;
}
/* Literal.String.Heredoc */

.highlight .si {
  color: #ffffff;
}
/* Literal.String.Interpol */

.highlight .sx {
  color: #ffffff;
}
/* Literal.String.Other */

.highlight .sr {
  color: #ffffff;
}
/* Literal.String.Regex */

.highlight .s1 {
  color: #ffffff;
}
/* Literal.String.Single */

.highlight .ss {
  color: #ffffff;
}
/* Literal.String.Symbol */

.highlight .bp {
  color: #ffffff;
}
/* Name.Builtin.Pseudo */

.highlight .vc {
  color: #98fb98;
}
/* Name.Variable.Class */

.highlight .vg {
  color: #98fb98;
}
/* Name.Variable.Global */

.highlight .vi {
  color: #98fb98;
}
/* Name.Variable.Instance */

.highlight .il {
  color: #ffffff;
}
/* Literal.Number.Integer.Long */

body {
  font-family: monospace;
  font-size: 100%;
  background-color: white;
  color: #111;
  width: 80%;
  min-width: 400px;
  min-height: 200px;
  padding: 1em;
  margin: 5% 10%;
  border: thin solid gray;
  border-radius: 5px;
  display: block;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: blue;
}

h1 a {
  color: inherit !important;
}

h2 a {
  color: inherit !important;
}

h3 a {
  color: inherit !important;
}

h4 a {
  color: inherit !important;
}

h5 a {
  color: inherit !important;
}

h6 a {
  color: inherit !important;
}

#menu li {
  display: inline;
}

#post-list {
  margin-bottom: 1em;
  margin-top: 1em;
}

pre {
  margin: 2em 1em 2em 4em;
  white-space: pre-wrap;
}

.infinite-spinner {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  display: none;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

.gh-promo {
  position: fixed;
  top: 0;
  right: 0;
}

.p_num {
  float: left;
  margin-left: -28px;
  margin-top: 6px;
  font-weight: normal;
  font-size: 14px;
}

.date {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.author {
  text-decoration: none;
  text-decoration-style: unset;
  border-bottom: 0px solid currentColor;
}

.highlight {
  background: #202020;
  color: #e2e2e5;
}

.highlight .hll {
  background-color: #ffffcc;
}

.highlight .c {
  color: #808080;
  font-style: italic;
}
/* Comment */

.highlight .err {
  color: #e2e2e5;
}
/* Error */

.highlight .g {
  color: #e2e2e5;
}
/* Generic */

.highlight .k {
  color: #7e8aa2;
}
/* Keyword */

.highlight .l {
  color: #e2e2e5;
}
/* Literal */

.highlight .n {
  color: #e2e2e5;
}
/* Name */

.highlight .o {
  color: #e2e2e5;
}
/* Operator */

.highlight .x {
  color: #e2e2e5;
}
/* Other */

.highlight .p {
  color: #e2e2e5;
}
/* Punctuation */

.highlight .cm {
  color: #808080;
  font-style: italic;
}
/* Comment.Multiline */

.highlight .cp {
  color: #faf4c6;
}
/* Comment.Preproc */

.highlight .c1 {
  color: #808080;
  font-style: italic;
}
/* Comment.Single */

.highlight .cs {
  color: #808080;
  font-style: italic;
}
/* Comment.Special */

.highlight .gd {
  color: #e2e2e5;
}
/* Generic.Deleted */

.highlight .ge {
  color: #e2e2e5;
}
/* Generic.Emph */

.highlight .gr {
  color: #e2e2e5;
}
/* Generic.Error */

.highlight .gh {
  color: #f6f3e8;
  font-weight: bold;
}
/* Generic.Heading */

.highlight .gi {
  color: #e2e2e5;
}
/* Generic.Inserted */

.highlight .go {
  color: #808080;
  background-color: #303030;
}
/* Generic.Output */

.highlight .gp {
  color: #e2e2e5;
}
/* Generic.Prompt */

.highlight .gs {
  color: #e2e2e5;
}
/* Generic.Strong */

.highlight .gu {
  color: #f6f3e8;
  font-weight: bold;
}
/* Generic.Subheading */

.highlight .gt {
  color: #e2e2e5;
}
/* Generic.Traceback */

.highlight .kc {
  color: #7e8aa2;
}
/* Keyword.Constant */

.highlight .kd {
  color: #7e8aa2;
}
/* Keyword.Declaration */

.highlight .kn {
  color: #7e8aa2;
}
/* Keyword.Namespace */

.highlight .kp {
  color: #7e8aa2;
}
/* Keyword.Pseudo */

.highlight .kr {
  color: #7e8aa2;
}
/* Keyword.Reserved */

.highlight .kt {
  color: #7e8aa2;
}
/* Keyword.Type */

.highlight .ld {
  color: #e2e2e5;
}
/* Literal.Date */

.highlight .m {
  color: #ff9800;
}
/* Literal.Number */

.highlight .s {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String */

.highlight .na {
  color: #ffffff;
  font-weight: bold;
}
/* Name.Attribute */

.highlight .nb {
  color: #e2e2e5;
}
/* Name.Builtin */

.highlight .nc {
  color: #e2e2e5;
}
/* Name.Class */

.highlight .no {
  color: #ff9800;
}
/* Name.Constant */

.highlight .nd {
  color: #e2e2e5;
}
/* Name.Decorator */

.highlight .ni {
  color: #ff9800;
}
/* Name.Entity */

.highlight .ne {
  color: #e2e2e5;
}
/* Name.Exception */

.highlight .nf {
  color: #ffffff;
  font-weight: bold;
}
/* Name.Function */

.highlight .nl {
  color: #e2e2e5;
}
/* Name.Label */

.highlight .nn {
  color: #e2e2e5;
}
/* Name.Namespace */

.highlight .nx {
  color: #e2e2e5;
}
/* Name.Other */

.highlight .py {
  color: #e2e2e5;
}
/* Name.Property */

.highlight .nt {
  color: #7e8aa2;
}
/* Name.Tag */

.highlight .nv {
  color: #b1d631;
}
/* Name.Variable */

.highlight .ow {
  color: #e2e2e5;
}
/* Operator.Word */

.highlight .w {
  color: #e2e2e5;
}
/* Text.Whitespace */

.highlight .mf {
  color: #ff9800;
}
/* Literal.Number.Float */

.highlight .mh {
  color: #ff9800;
}
/* Literal.Number.Hex */

.highlight .mi {
  color: #ff9800;
}
/* Literal.Number.Integer */

.highlight .mo {
  color: #ff9800;
}
/* Literal.Number.Oct */

.highlight .sb {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Backtick */

.highlight .sc {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Char */

.highlight .sd {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Doc */

.highlight .s2 {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Double */

.highlight .se {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Escape */

.highlight .sh {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Heredoc */

.highlight .si {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Interpol */

.highlight .sx {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Other */

.highlight .sr {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Regex */

.highlight .s1 {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Single */

.highlight .ss {
  color: #b1d631;
  font-style: italic;
}
/* Literal.String.Symbol */

.highlight .bp {
  color: #e2e2e5;
}
/* Name.Builtin.Pseudo */

.highlight .vc {
  color: #b1d631;
}
/* Name.Variable.Class */

.highlight .vg {
  color: #b1d631;
}
/* Name.Variable.Global */

.highlight .vi {
  color: #b1d631;
}
/* Name.Variable.Instance */

.highlight .il {
  color: #ff9800;
}
/* Literal.Number.Integer.Long */

.highlight {
  background: #1e2426;
  color: #babdb6;
}

.highlight .hll {
  background-color: #ffffcc;
}

.highlight .c {
  color: #656763;
}
/* Comment */

.highlight .err {
  color: #babdb6;
}
/* Error */

.highlight .g {
  color: #babdb6;
}
/* Generic */

.highlight .k {
  color: #729fcf;
}
/* Keyword */

.highlight .l {
  color: #babdb6;
}
/* Literal */

.highlight .n {
  color: #babdb6;
}
/* Name */

.highlight .o {
  color: #babdb6;
}
/* Operator */

.highlight .x {
  color: #babdb6;
}
/* Other */

.highlight .p {
  color: #babdb6;
}
/* Punctuation */

.highlight .cm {
  color: #656763;
}
/* Comment.Multiline */

.highlight .cp {
  color: #fcaf3e;
}
/* Comment.Preproc */

.highlight .c1 {
  color: #656763;
}
/* Comment.Single */

.highlight .cs {
  color: #656763;
}
/* Comment.Special */

.highlight .gd {
  color: #2e3436;
  background-color: #0e1416;
}
/* Generic.Deleted */

.highlight .ge {
  color: #babdb6;
}
/* Generic.Emph */

.highlight .gr {
  color: #eeeeec;
  background-color: #cc0000;
}
/* Generic.Error */

.highlight .gh {
  color: #fcaf3e;
}
/* Generic.Heading */

.highlight .gi {
  color: #babdb6;
  background-color: #1f2b2d;
}
/* Generic.Inserted */

.highlight .go {
  color: #2c3032;
  background-color: #2c3032;
}
/* Generic.Output */

.highlight .gp {
  color: #babdb6;
}
/* Generic.Prompt */

.highlight .gs {
  color: #babdb6;
}
/* Generic.Strong */

.highlight .gu {
  color: #fcaf3e;
}
/* Generic.Subheading */

.highlight .gt {
  color: #babdb6;
}
/* Generic.Traceback */

.highlight .kc {
  color: #729fcf;
}
/* Keyword.Constant */

.highlight .kd {
  color: #729fcf;
}
/* Keyword.Declaration */

.highlight .kn {
  color: #729fcf;
}
/* Keyword.Namespace */

.highlight .kp {
  color: #729fcf;
}
/* Keyword.Pseudo */

.highlight .kr {
  color: #729fcf;
}
/* Keyword.Reserved */

.highlight .kt {
  color: #e3e7df;
}
/* Keyword.Type */

.highlight .ld {
  color: #babdb6;
}
/* Literal.Date */

.highlight .m {
  color: #8ae234;
}
/* Literal.Number */

.highlight .s {
  color: #babdb6;
}
/* Literal.String */

.highlight .na {
  color: #fcaf3e;
}
/* Name.Attribute */

.highlight .nb {
  color: #babdb6;
}
/* Name.Builtin */

.highlight .nc {
  color: #babdb6;
}
/* Name.Class */

.highlight .no {
  color: #8ae234;
}
/* Name.Constant */

.highlight .nd {
  color: #babdb6;
}
/* Name.Decorator */

.highlight .ni {
  color: #888a85;
}
/* Name.Entity */

.highlight .ne {
  color: #babdb6;
}
/* Name.Exception */

.highlight .nf {
  color: #fcaf3e;
}
/* Name.Function */

.highlight .nl {
  color: #babdb6;
}
/* Name.Label */

.highlight .nn {
  color: #babdb6;
}
/* Name.Namespace */

.highlight .nx {
  color: #babdb6;
}
/* Name.Other */

.highlight .py {
  color: #babdb6;
}
/* Name.Property */

.highlight .nt {
  color: #729fcf;
}
/* Name.Tag */

.highlight .nv {
  color: #ffffff;
}
/* Name.Variable */

.highlight .ow {
  color: #babdb6;
}
/* Operator.Word */

.highlight .w {
  color: #babdb6;
}
/* Text.Whitespace */

.highlight .mf {
  color: #8ae234;
}
/* Literal.Number.Float */

.highlight .mh {
  color: #8ae234;
}
/* Literal.Number.Hex */

.highlight .mi {
  color: #8ae234;
}
/* Literal.Number.Integer */

.highlight .mo {
  color: #8ae234;
}
/* Literal.Number.Oct */

.highlight .sb {
  color: #babdb6;
}
/* Literal.String.Backtick */

.highlight .sc {
  color: #babdb6;
}
/* Literal.String.Char */

.highlight .sd {
  color: #babdb6;
}
/* Literal.String.Doc */

.highlight .s2 {
  color: #babdb6;
}
/* Literal.String.Double */

.highlight .se {
  color: #babdb6;
}
/* Literal.String.Escape */

.highlight .sh {
  color: #babdb6;
}
/* Literal.String.Heredoc */

.highlight .si {
  color: #babdb6;
}
/* Literal.String.Interpol */

.highlight .sx {
  color: #babdb6;
}
/* Literal.String.Other */

.highlight .sr {
  color: #babdb6;
}
/* Literal.String.Regex */

.highlight .s1 {
  color: #babdb6;
}
/* Literal.String.Single */

.highlight .ss {
  color: #babdb6;
}
/* Literal.String.Symbol */

.highlight .bp {
  color: #babdb6;
}
/* Name.Builtin.Pseudo */

.highlight .vc {
  color: #ffffff;
}
/* Name.Variable.Class */

.highlight .vg {
  color: #ffffff;
}
/* Name.Variable.Global */

.highlight .vi {
  color: #ffffff;
}
/* Name.Variable.Instance */

.highlight .il {
  color: #8ae234;
}
/* Literal.Number.Integer.Long */
